<% form_for :user, @user, :url => update_user_path,:html => { :multipart => true }  do |f| %>
<table>
<tr><td><%= image_tag @user.avatar.url(:medium)%>
</td><td/></tr>
  <tr>
    <td>
      <p>
        User Avatar
      </p>
    </td>
    <td>
      <%= f.file_field :avatar %>
    </td>
  </tr>
  <% User.editable_columns.each do |col| %>
  <tr>
    <td>
      <label>
        <%= User.human_attribute_name col.name%>:
      </label>
    </td>
    <td>
      <%= f.text_field col.name %>
    </td>
  </tr> 
  <%-end%>
</table>
<%= submit_tag t('Save')%> <input type="button" value="<%= t 'Cancel'%>" onclick="javascript:window.location='<%= home_user_path%>';return false;"/> 
<%-end%>
