<% form_for :user, @user, :url => update_user_path do |f| %>
<table>
  <% User.editable_columns.each do |col| %>
  <tr>
    <td>
      <label>
        <%= User.human_attribute_name col.name%>:
      </label>
    </td>
    <td>
      <%= f.text_field col.name %>
    </td>
  </tr> 
  <%-end%>
</table>
<%= submit_tag t('Save')%> <input type="button" value="<%= t 'Cancel'%>" onclick="javascript:window.location='<%= home_user_path%>';return false;"/> 
<%-end%>
