<%= show_flash %>
<% form_for :user, @user, :url => email_user_path do |f| %>
<table>
  <% [:email, :new_email, :email_confirmation].each do |col| %>
  <tr>
    <td>
      <label>
        <%= User.human_attribute_name col%>:
      </label>
    </td>
    <td>
      <%= case col;when :email then @user.email ;else f.text_field col;end  %>
    </td>
  </tr> 
  <%-end%>
</table>
<%= submit_tag t('Change Email'), options = {:id => "commit"} %> <input id = "cancel" type="button" value="<%= t 'Cancel'%>" onclick="javascript:window.location='<%= home_user_path%>';return false;"/> 
<%-end%>

