<H3><%= t 'integration.dear_user', :name => session[:wsw_profile]["name"] %></H3><br/>
<%= t 'integration.the_same_email_of' %><br/>
<%= t 'integration.whoswho_email' %> <font color=#FF0000><%= session[:wsw_profile]["email"] %></font><br/>
<%= t 'integration.whoswho_account' %> <%= session[:wsw_profile]["username"]%><br/>
<%= t 'integration.of_email' %> <font color=#FF0000><%= session[:of_profile]["email"] %></font><br/>
<%= t 'integration.of_account' %> <%= session[:of_profile]["name"]%><br/>
<br/>
<%= t 'integration.please_checkup_integration' %><br/>
<%#= button_to "#{ t 'integration.yes_relogin_of' }", :action => "email_collision_whoswho" %>
<input id="return" type="button" value="<%= t 'integration.yes_relogin_of' %>" onclick="javascript:window.location='<%= login_user_path + "?wsw=1" %>';return false;"/>
<input id = "signup_new" type="button" value="<%= t 'integration.no_new_signup' %>" onclick="javascript:window.location='<%= signup_user_path %>';return false;"/>
