<H3><%= t 'integration.dear_user', :name => session[:wsw_profile]["name"] %></H3><br/>
<%= t 'integration.the_same_email_of' %><br/>
<table>
  <tr>
    <td><%= t 'integration.whoswho_email' %></td>
    <td><font color=#FF0000><%= session[:wsw_profile]["email"] %></font></td>
    </tr>
    <tr>
      <td><%= t 'integration.whoswho_account' %></td>
      <td><%= session[:wsw_profile]["username"]%></td>
    </tr>
    <tr>
      <td><%= t 'integration.of_email' %></td>
      <td><font color=#FF0000><%= session[:of_profile]["email"] %></font></td>
    </tr>
    <tr>
      <td><%= t 'integration.of_account' %> </td><td><%= session[:of_profile]["name"]%></td>
    </tr>
  </table>
<br/>
<%= t 'integration.please_checkup_integration' %><br/>
<%#= button_to "#{ t 'integration.yes_relogin_of' }", :action => "email_collision_whoswho" %>
<input id="return" type="button" value="<%= t 'integration.yes_relogin_of' %>" onclick="javascript:window.location='<%= login_user_path + "?wsw=1" %>';return false;"/>
<input id = "signup_new" type="button" value="<%= t 'integration.no_new_signup' %>" onclick="javascript:window.location='<%= signup_user_path %>';return false;"/>
