<% form_tag(forgot_password_user_path) do %>
  <label><%= t 'user.your_email' %></label>
  <%= text_field_tag "email" %><br/>

  <div class="button-bar">
    <%= submit_tag "#{t 'user.reset_password'}", options={:id => "commit"} %>
    <input id = "Cancel" type="button" value="<%= t 'user.cancel' %>" onclick="javascript:window.location='<%= login_user_path %>';return false;"/>
  </div>
<% end %>

