<% module_title = capture do -%>
  <h2 class="title"><%= t 'user.forgot_password' %></h2>
<% end %> 
<% module_content = capture do -%>
  <%= show_flash %>
  <% form_tag(forgot_password_user_path) do %>
    <br>
  <label><%= t 'user.your_email' %></label>
  <%= text_field_tag "email" %><br/><br/>

  <div class="button-bar">
    <%= submit_tag "#{t 'user.reset_password'}", options={:id => "commit"} %>
    <input id = "Cancel" type="button" value="<%= t 'user.cancel' %>" onclick="javascript:window.location='<%= login_user_path %>';return false;"/>
  </div>
<% end %>
<% end %> 
<%=render :file => 'layouts/rt_module', :locals => {:module_title => module_title, :module_content => module_content, :grid_style => 'rt-grid-12', :square_style => 'square1' }%>
