<% module_title = capture do -%>
  <h2 class="title"><%= t 'integration.integration_process' %></h2>
<% end %> 
<% module_content = capture do -%>
<% if not @opt_columns.blank? %>
  <%= t "integration.notice_choice_data" %><br>

  <% form_for :opt_result, :url => { :action => "integrate_diff_accounts" } do -%>
    <% @opt_columns.each do | k, v | %>
      <%= t "integration.notice_choice_field_1" %>
      <%= "#{k.to_s.humanize.downcase}" %>
      <%= t "integration.notice_choice_field_2" %><br>
      <%=radio_button_tag "WSW_#{ k }", "#{ v[ 0 ] }", true %><%="#{ v[ 0 ] }"%><br>
      <%=radio_button_tag "WSW_#{ k }", "#{ v[ 1 ] }"  %><%="#{ v[ 1 ] }"%><br>
      <br>
  <% end %>
    <%=submit_tag t "integration.integrate" %>
  <% end -%>
<% end %>
<% end %>
<%=render :file => 'layouts/rt_module', :locals => {:module_title => module_title, :module_content => module_content, :grid_style => 'rt-grid-12', :square_style => 'square1' }%>
