<h3><%= t 'integration.dear_user',:name => session[:wsw_profile]["name"] %></h3>
<h4><%= t 'integration.profile_you_registered_in_whoswho' %></h4>
<table>
  <tr>
    <td><label><%= t 'integration.your_name' %></label></td>
    <td><%= session[:wsw_profile]["name"] %></td>
  </tr>
  <tr>
    <td><label><%= t 'integration.your_account' %></label></td>
    <td><%= session[:wsw_profile]["username"] %></td>
  </tr>
  <tr>
    <td><label><%= t 'integration.your_email' %></label></td>
    <td><%= session[:wsw_profile]["email"] %></td>
  </tr>
</table><br/>
<%= t 'integration.would_you_signup_with_the_same_data' %><br/>
<br/>
<div class="button-bar">
  <input id = "Yes" type="button" value="<%= t 'integration.yes_the_same' %>" onclick="javascript:window.location='<%= signup_user_path + "?wsw=1" %>';return false;"/>
  <input id = "No" type="button" value="<%= t 'integration.no_new_signup' %>" onclick="javascript:window.location='<%= signup_user_path %>';return false;"/>
