<% module_title = capture do -%>
  <h2 class="title"><%= t 'integration.integration_process' %></h2>
<% end %> 
<% module_content = capture do -%>
<% if session[ :dupemail ] || session[ :dupuname ] %>
  <%= t 'integration.duplicate_message'%>
  <%= t 'integration.duplicate_message_field' %>
  <%= "#{t( 'User Name')} (#{session[ :dupuname ]['username'][1..-1]})" if session[ :dupuname ] %>
  <%= "/ #{t 'Email'} (#{session[ :dupemail ]['email']})" if session[ :dupemail ] %>
<% end %><br>
  
  <%= t 'integration.not_whoswho_user'%>
<% form_for :offm_itype_new, :url => { :action => "integration" } do -%>
<p>
  <%=hidden_field_tag  'of_itype', 'REG_WHOSWHO' %>
  <%=submit_tag t 'integration.create_a_new_account' %>
<p>
<% end %>
  
<%= t 'integration.of_combine_wsw_message' %>
<%#Please fill out the following form for integrating with above suggestion, or other accounts...%>
<% form_for :offm_itype_com, :url => { :action => "integration" } do -%>
  <p>
    <%=hidden_field_tag 'of_itype', 'LOGIN_WHOSWHO' %>
    <%= t 'User Name'%>: <%=text_field( "iuser", "name" ) %><br>
    <%= t 'Password'%>: <%=password_field( "iuser", "password" ) %><br>
    <%=submit_tag t('integration.combine_wsw_account') %><a href="/index.php?option=com_user&view=reset&Itemid=62"><%="#{t 'user.forgot_password_whoswho'}" %></a>
  </p>
<% end %>
<% end %>
<%=render :file => 'layouts/rt_module', :locals => {:module_title => module_title, :module_content => module_content, :grid_style => 'rt-grid-12', :square_style => 'square1' }%>
