<%form_tag(login_user_path) do%>
  <%= hidden_field_tag :return_url, params[:return_url]%>
  <h3><%=t 'User Login'%></h3>
  <br/>
  <%=t 'User Name'%>:
  <%= text_field_tag :name%>
  <br/>
  <%=t 'Password'%>:
  <%= text_field_tag :password%>
  <br/>
  <%= submit_tag t('Login') %>
<%end%>

