- form_tag(login_user_path) do
  = hidden_field_tag :return_url, params[:return_url]
  %h3
    = t 'User Login'
  %table
    %tr
      %td
        = t 'User Name'
        \:
      %td
        = text_field_tag :name
    %tr
      %td
        = t 'Password'
        \:
      %td
        = password_field_tag :password
    - unless params[:wsw]
      %tr
        %td
          = check_box_tag :whoswho
        %td
          = t 'I am Who\'s Who User'
    - else
      %tr
        %td{:colspan => "2"}
          = t 'please_enter_your_OpenFoundry_account'

  = submit_tag t('Login'), :name => :login, :id => :login
