-module_title = capture do
  %h2.title= t('User Login')
-module_content = capture do  
  - form_tag(login_user_path) do
    = hidden_field_tag :return_url, params[:return_url]
    - size = 25
    = show_flash
    %table
      %tr
        %td{:style=>"text-align:right;"}
          = t 'User Name'
          \:
        %td
          = text_field_tag :name, '', :size => size
      %tr
        %td{:style=>"text-align:right;"}
          = t 'Password'
          \:
        %td
          = password_field_tag :password, '', :size => size
      %tr
        %td
        %td
          %span{:style=>"font-size:10px;"}
            = link_to t('user.forgot_password'), forgot_password_user_path
      - unless params[:wsw]
        %tr
          %td{:style=>"text-align:right;"}
            = check_box_tag :whoswho
          %td
            = t 'I am Who\'s Who User'
            %br/
            %span{:style=>"font-size:10px;"}
              = link_to "#{t 'user.forgot_password_whoswho'}", '/index.php?option=com_user&view=reset&Itemid=62'
            %br/
            %br/

    = submit_tag t('Login'), :name => :login, :id => :login
    
=render :file => 'layouts/rt_module', :locals => {:module_title => module_title, :module_content => module_content, :grid_style => @grid_style, :square_style => @square_style}
