<%= error_messages_for :user %>
<% form_for :user, @user, :url => passwd_user_path do |f| %>
<table>
  <% unless @user.params[:forgot_password] %>
  <tr>
    <td>
      <%= f.label :old_password, User.human_attribute_name( :old_password ) %>
    </td>
    <td>
      <%= f.password_field "old_password", :size => 30 %>
    </td>
  </tr>
  <% end %>
  <% [:password, :password_confirmation].each do |col| %>
  <tr>
    <td>
      <label>
        <%= User.human_attribute_name col%>:
      </label>
    </td>
    <td>
      <%= f.password_field col %>
    </td>
  </tr> 
  <%-end%>
</table>
<%= submit_tag t('Save'), options={:id => "commit"}%> <input type="button" value="<%= t 'Cancel'%>" onclick="javascript:window.location='<%= home_user_path%>';return false;"/> 
<%-end%>

