%h3.subtitle 
  = t 'user.signup'
= error_messages_for :user
- if session[:whoswho] != nil
  == You are who's who user: #{session[:whoswho]}.
  %br
  == Please enter your new openfoundry accout & check exist.
- form_for :user, @user, :url => signup_user_path do |f|
  %p
    %table
      - User.columns_for_signup.each do |col|
        %tr
          %td 
            = User.human_attribute_name col
            \:
          %td
            = case col.to_s; when 'name' then f.text_field col, :onkeypress => "new Ajax.Updater(\'name_availability_result\', \'#{availability_user_path}\', {asynchronous:true, evalScripts:true, parameters:'name=' + encodeURIComponent(value)});return true;";when /password/ then f.password_field col;when 'email' then  f.text_field col, :onkeypress => "new Ajax.Updater(\'email_availability_result\', \'#{availability_user_path}\', {asynchronous:true, evalScripts:true, parameters:'email=' + encodeURIComponent(value)});return true;";else f.text_field col;end
            - if col == :name
              #name_availability_result
            - if col == :email
              #email_availability_result
    = submit_tag t('SignUp'), :id => :signup
