
    <!-- header Start -->
        <div id="rt-header">
    <!-- Logo -->
          <div class="rt-grid-7 rt-alpha">
                  <div class="rt-block">
                        <a href="/" id="rt-logo"></a>
                    </div>
                    </div>

                    <div class="rt-grid-5 rt-omega">
    <!-- Input Account Login and Logout and Search -->
                        <div class="square9">
                            <div class="rt-block">
                                <div class="rt-module-surround">
                                   <div class="rt-module-top">
                                        <div class="rt-module-top2">
                                            <div class="rt-module-top3">
                                            </div>

                                        </div>
                                    </div>
                                    <div class="rt-module-inner">
                                    <div class="module-content">
                                    <div class="ofssologin_square9">
                                          <% if(check_user) -%>
                                            <%=t('Hi')%>,<%= link_to check_user.name, '/user/userprofile' %>
                                            &nbsp;|&nbsp; 
                                            <%= link_to t('Dashboard'), '/of/user/dashboard' %>
                                            &nbsp;|&nbsp; 
                                            <%= link_to t('Settings'), edit_user_path %>  
                                            &nbsp;|&nbsp; 
                                            <%= link_to t("Logout"), logout_user_path %>
                                          <% else -%>
                                            <%= link_to t('Login'), login_user_path%>
                                            &nbsp;|&nbsp; 
                                            <%= link_to t('SignUp'), signup_user_path %>
                                          <% end -%>
                                            &nbsp;|&nbsp; 
                                        <span>
                                        <%=   @locales.map{|k,v| 
                                            params[:lang] = k
                                            url_with_lang = "#{request.protocol}#{request.host_with_port}#{url_for params}"
                                            if I18n.locale != k.to_s 
                                              "<a href='#{url_with_lang}'><span lang =\"#{k}\" xml:lang=\"#{k}\">#{v}</span></a>\n"
                                            end  
                                            } .join('')
                                        %>
                                        </span>

                                    <div class="ofssologin_search_square9">
                                       <form onsubmit="of_search(); return false;" method="get" action="/of/openfoundry/search" id="of_search">
                                            <select id="of_search_type">
                                                 <option value="Projects"><%= t 'Project'%></option>
                                                 <option value="Content"> <%= t 'Content'%> </option>
                                                 <option value="People"> <%= t 'People'%> </option>

                                            </select>
                                            <input type="text" onfocus="if(this.value=='search...') this.value='';" onblur="if(this.value=='') this.value='search...';" value="search..." size="28" class="inputbox" alt="search" maxlength="20" id="query" name="query" gtbfieldid="7">
                                             <input type="hidden" value="search" name="commit">
                                     </form>
                                   </div>
                                </div>
                                </div>
                             </div>
                             <div class="rt-module-bottom">

                                  <div class="rt-module-bottom2">
                                    <div class="rt-module-bottom3"></div>
                                </div>
                            </div>
                         </div>
                       </div>
                   </div>
                    </div>
          <div class="clear"></div>

        </div>
    <!-- header END-->

