<div style='float:left'> 
  <h2>
    <%= link_to t('OpenFoundry Account'), home_user_url %> 
  </h2>
  <%- if display_signup %>
    <%= link_to t('user.signup'), signup_user_path %> 
    |
    <%= link_to t('user.forgot_password'), forgot_password_user_path %>
  <%- end %>
</div>
<div style='float:right'> 
  Language Selection: 
  <%= select_tag 'Language', 
   @locales.map{|k,v| 
    params[:lang] = k
    url_with_lang = "#{request.protocol}#{request.host_with_port}#{url_for params}"
    "<option #{'selected' if I18n.locale == k.to_s} value='#{url_with_lang}'>#{v}</option>\n"
    } .join(''),
       :onchange => "location.href = this.value"
       %>
</div>
<div>
  <p>
    <h3>
      [Center Panel]
    </h3>
    <h5>
      [Put Something Here]
    </h5>
  </p>
<div>
<br/>
<hr/>

<%= show_flash %>

