
    <!-- MainMenu Start-->
        <div id="rt-navigation">
                    <div id="rt-navigation2">
                        <div id="rt-navigation3">
                              <ul class="menutop level1" >
                        <li class="item root" >
                        <a class="orphan item bullet" href="/"><span><%= t 'menu.home'%></span></a>

                                  </li> 
                      <li class="item root" >
                      <a class="orphan item bullet" href="/of/"><span><%= t 'menu.project'%></span></a>
                                  </li> 
                      <li class="item root" >
                      <a class="orphan item bullet" href="/community"  ><span><%= t 'menu.community'%></span></a>
                                  </li> 
                      <li class="item root" >
                      <a class="orphan item bullet" href="/news"  ><span><%= t 'menu.news'%></span></a>

                                  </li> 
                      <li class="item root" >
                      <a class="orphan item bullet" href="/law-and-licenses" ><span><%= t 'menu.lawandlicenses'%></span></a>
                                  </li> 
                      <li class="item root" >
                      <a class="orphan item bullet" href="/workshop"  ><span><%= t 'menu.workshop'%></span></a>
                                  </li> 
                      <li class="item root" >
                      <a class="orphan item bullet" href="/resourcecatalog"  ><span><%= t 'menu.resourcecatalog'%></span></a>

                                  </li> 
                      <li class="item root" >
                      <a class="orphan item bullet" href="/about"  ><span><%= t'menu.about'%></span></a>
                                  </li> 
                        </ul>
                    <div class="clear"></div>
                </div>
                    </div>
                </div>

    <!-- MainMenu END-->

