<% content_for :head_content do -%>
  <link rel="shortcut icon" href="http://www.openfoundry.org/images/favicon.ico" />
  <title>
    <%= 'My OpenFoundry Account' %>
  </title>
  <%= javascript_include_tag 'jquery' %>
  <%= javascript_include_tag 'jquery-ui' %>
  <%= javascript_include_tag 'jrails' %>
  <%= javascript_include_tag 'langsync' %>
  <link rel="stylesheet" href="/components/com_gantry/css/gantry.css" type="text/css" />

  <link rel="stylesheet" href="/components/com_gantry/css/grid-12.css" type="text/css" />
  <link rel="stylesheet" href="/components/com_gantry/css/joomla.css" type="text/css" />
  <link rel="stylesheet" href="/templates/rt_quantive_j15/css/joomla.css" type="text/css" />
  <link rel="stylesheet" href="/templates/rt_quantive_j15/css/style1.css" type="text/css" />
  <link rel="stylesheet" href="/templates/rt_quantive_j15/css/light-body.css" type="text/css" />
  <link rel="stylesheet" href="/templates/rt_quantive_j15/css/demo-styles.css" type="text/css" />
  <link rel="stylesheet" href="/templates/rt_quantive_j15/css/template.css" type="text/css" />
  <link rel="stylesheet" href="/templates/rt_quantive_j15/css/template-firefox.css" type="text/css" />
  <link rel="stylesheet" href="/templates/rt_quantive_j15/css/typography.css" type="text/css" />

  <link rel="stylesheet" href="/templates/rt_quantive_j15/css/fusionmenu.css" type="text/css" />
  <style type="text/css">
    <!--
#rt-main-surround ul.menu li.active > a, #rt-main-surround ul.menu li.active > .separator, #rt-main-surround ul.menu li.active > .item, #rt-main-surround .square4 ul.menu li:hover > a, #rt-main-surround .square4 ul.menu li:hover > .item, #rt-main-surround .square4 ul.menu li:hover > .separator, .roktabs-links ul li.active span {color:#0088B5;}
a, #rt-main-surround ul.menu a:hover, #rt-main-surround ul.menu .separator:hover, #rt-main-surround ul.menu .item:hover {color:#0088B5;}
    -->
  </style>

<% end -%>

<% content_for :header_content do -%>
  <%= render :partial => 'layouts/header'%>
<% end -%>

<% content_for :body_content do -%>
  <div id="sso-body">
    <%= yield %>
  </div>
<% end -%>
<%= render :file => 'layouts/integration' %>
