<% content_for :head_content do -%>
  <title>
    <%= 'My OpenFoundry Account' %>
  </title>
  <%=javascript_include_tag :defaults%>
<% end -%>

<% content_for :header_content do -%>
  <%= render :partial => 'layouts/header'%>
<% end -%>

<% content_for :body_content do -%>
  <div id="sso-body">
    <%= yield %>
  </div>
<% end -%>
<%= render :file => 'layouts/integration' %>
